<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a target="_blank" rel="noopener noreferrer" href="https://appseed.us/admin-dashboards/django-dashboard-material"
      class="simple-text logo-normal">
      Django Material
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}

      <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
        <a class="nav-link" href="/page-user.html">
          <i class="material-icons">person</i>
          <p>Contact us</p>
        </a>
      </li>

      {% else %}

      <li class="nav-item active">
        <a class="nav-link" target="_blank" rel="noopener noreferrer"
          href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
          <i class="material-icons">unarchive</i>
          <p>PRO Version</p>
        </a>
      </li>

      {% endif %}
    </ul>
  </div>
</div>