{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <h2 class="mb-4">¡Gracias por tu mensaje!</h2>
                        <p>Te agradecemos por ponerte en contacto con nosotros. Tu mensaje ha sido recibido.</p>
                        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Volver a la página principal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}